
html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

.container {
    width:70%;
    margin:5% auto;
    display: flex;
    flex-wrap: wrap;
}

.grid-square{
    flex-basis:calc(100% / 16);
    border:1px solid black; 
    height:53px;
    display: inline-block;
}

.grid-square:hover{
    background-color: bisque;
}